<% if (typeof dataInfo != 'undefined') { %> 
  <button><a href="/<%= dataInfo %>/add" class="aStyle">Add</a></button>
  <button><a href="/<%= dataInfo %>/update" class="aStyle">Update</a></button>
  <button><a href="/<%= dataInfo %>/remove" class="aStyle">Remove</a></button>
<% } %> 