<nav class="header">
  <h1><a href="/" class="aStyle">GritAcademy</a></h1>
  <ul class="navbar">
    <li><a href="/students" class="aStyle">students</a></li>
    <li><a href="/courses" class="aStyle">courses</a></li>
    <li><a href="/students_courses" class="aStyle">students courses</a></li>
  </ul>
</nav>