* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}

table, th, td {
  border: 1px solid black;
  padding: 2px;
} 

.center {
  color: blue;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: beige;
  border-bottom: 1px solid grey;
}

.aStyle {
  color: black;
  text-decoration: none;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar li {
  margin: 0px 20px;
  display: flex;
  align-items: center;
}